
/* #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  } */

  body,html{
    width: 100%;
    height: 100%;
}


.top {
	background: linear-gradient(-45deg, #E5EEDD, #507271, #E5EEDD, #8AC9C0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;}


.quizz-container{
    border-radius: 40px;
    width: 400px;
    height: 409px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.99) 0%, rgba(255, 255, 255, 0.21) 100%);
    box-shadow: 0px 12px 18px 5px rgba(0, 0, 0, 0.13);
    font-family: Helvetica, Arial, sans-serif;
}


/* .quizz-header{ 
    padding : 3rem;
  
 }  */

/* h2{
    padding: 1 rem;
    text-align: center;
    margin-top: 9%;
    color: #2B3A31;
} */

.quizz-header h2{
    padding: 1 rem;
    text-align: center;
    margin-top: 9%;
    color: #2B3A31;}

.quizz-header ul{
    list-style-type: none;
    padding: 0;
    text-align: center ;
    /* margin-top:50px; */
    /* padding-bottom: 46px; */
     padding: 39px; 
     transform: translate(0px, -12px);
    
}

.quizz-header .ul2{
    list-style-type: none;
    padding: 0;
    text-align: center ;
    margin-top:10px; 
    /* padding-bottom: 46px; */
     /* padding: 39px;  */
    
}

.quizz-header ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
    padding:10px;
    margin-top: 20px;
}


.quizz-header ul li label{
    cursor: pointer;
    
}


.Suivant button{
    background-color: #2B3A31;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
    transform: translate(0px, 1px);
}

.btn2{
    background-color: #083B32;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
    margin-top: -2px;
}

.Suivant button:hover{
    background-color:#4B6960;
}

.answergenre{
    opacity: 0%;
    transform: translate(2px, 0px) scale(4);
   
}

.ic{
    color: black;
    font-size: 30px;
    
}

.ic:hover{
    color: white;    
}

.ic:active{
    color: white;    
}

.circleFemme circle{
    background-color: #dbdbdb00;
    border: none;
}


.neutre{
    font-size: 30px;
    
}

.circleHomme{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    
}
.circle svg{
    pointer-events: none;
}

.quizz-relatif{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.quizz-ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}


.answergenre.homme:hover ~ .circle {
    background-color: #ffffff;
    transition: 0.7s;
}
.answergenre.homme:checked ~ .circle {
    background-color: #ffffff;
    transition: 0.7s;
}

.answergenre.femme:hover ~ .circle {
    background-color: #ffffff;
    transition: 0.7s;
}
.answergenre.femme:checked ~ .circle {
    background-color: #ffffff;
    transition: 0.7s;
}

.answergenre.neutre:hover ~ .circle {
    background-color: #ffffff;
    transition: 0.7s;
}
.answergenre.neutre:checked ~ .circle {
    background-color: #ffffff;
    transition: 0.7s;
}

.circleFemme{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    
}

.answergenre:hover{
    background-color: white;
}

.circleNeutre{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    
}

.circleNeutre:hover{
    background-color: #2B3A31;
    transition: 0.7s;
}

.palettegothique{
    margin-left: -340px;
    
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


/* bouton site universelle */

    
body,html{
    width: 100%;
    height: 100%;
}

.Normal{
    position:absolute;
    bottom: 5%;
    width: 249px;
    font-size: 14px;
    background-color:rgba(128, 128, 128, 0);
    border: 2px solid white;
    color: white;
    padding: 0.5%; 
}

.Normal:hover{
background-color: rgba(0, 0, 0, 0.167);
border: 2px solid rgba(0, 0, 0, 0.167);
}

.Centrer{
    display: flex;
    align-items: center;
    justify-content: center;
}