
/* #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  } */

  body,html{
    width: 100%;
    height: 100%;
}


.top {
	background: linear-gradient(-45deg, #E5EEDD, #507271, #E5EEDD, #8AC9C0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;}


.quizz-container{
    border-radius: 40px;
    width: 400px;
    height: 409px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.99) 0%, rgba(255, 255, 255, 0.21) 100%);
    box-shadow: 0px 12px 18px 5px rgba(0, 0, 0, 0.13);
    font-family: Helvetica, Arial, sans-serif;
}


/* .quizz-header{ 
    padding : 3rem;
  
 }  */

/* h2{
    padding: 1 rem;
    text-align: center;
    margin-top: 9%;
    color: #2B3A31;
} */

.quizz-header h2{
    padding: 1 rem;
    text-align: center;
    margin-top: 9%;
    color: #2B3A31;}

.quizz-header ul{
    list-style-type: none;
    padding: 0;
    text-align: center ;
    /* margin-top:50px; */
    /* padding-bottom: 46px; */
     padding: 39px; 
     transform: translate(0px, -12px);
    
}

.quizz-header .ul2{
    list-style-type: none;
    padding: 0;
    text-align: center ;
    margin-top:10px; 
    /* padding-bottom: 46px; */
     /* padding: 39px;  */
    
}

.quizz-header ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
    padding:10px;
    margin-top: 20px;
}


.quizz-header ul li label{
    cursor: pointer;
    
}


.Suivant button{
    background-color: #2B3A31;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
    transform: translate(0px, -22px);
}

.btn2{
    background-color: #083B32;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
    margin-top: -2px;
}

.Suivant button:hover{
    background-color:#4B6960;
}

.answergenre{
    opacity: 100%;
    width: 30px;
    height: 30px;
   
}

.homme{
    font-size: 30px;  
}

.homme:hover{
color: white;    
}

.homme:active {
    color: white;}

.circleFemme circle{
    background-color: #dbdbdb00;
    border: none;
}

.femme{
    color: black;
    font-size: 30px;
    
}

.neutre{
    font-size: 30px;
    
}

.circleHomme{
    background-color: #DBDBDB;
    ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    
}
.circle svg{
    pointer-events: none;
}

.quizz-relatif{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.quizz-ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}


.answergenre.homme:hover ~ .circle {
    background-color: #2B3A31;
    transition: 0.7s;
}
.answergenre.homme:checked ~ .circle {
    background-color: #2B3A31;
    transition: 0.7s;
}

.answergenre.femme:hover ~ .circle {
    background-color: #2B3A31;
    transition: 0.7s;
}
.answergenre.femme:checked ~ .circle {
    background-color: #2B3A31;
    transition: 0.7s;
}

.answergenre.neutre:hover ~ .circle {
    background-color: #2B3A31;
    transition: 0.7s;
}
.answergenre.neutre:checked ~ .circle {
    background-color: #2B3A31;
    transition: 0.7s;
}

.circleFemme{
    background-color: #DBDBDB;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    
}

.circleFemme:hover{
    background-color: #2B3A31;
    transition: 0.7s;
}
.answergenre:hover{
    background-color: white;
}

.circleNeutre{
    background-color: #DBDBDB;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    
}

.circleNeutre:hover{
    background-color: #2B3A31;
    transition: 0.7s;
}


.palette1{
    
    width: 267px;
    height: 67px;
    margin-top: -44px;
  
}


.palette2{
    
    margin-top: -18px;
    width: 267px;
    height: 67px;
}

.palette3{
    margin-top: -18px;
    width: 267px;
    height: 67px;
}

.answergothique{
    margin-right: 150px;
}

.answerclassique{
    margin-left: 175px;
    margin-top: -188px;
}

.hommeclassique {
    margin-left: -230px;
    margin-bottom: -165px;
    margin-top: -250px;
    width: 60%;
}

.hommestreetwear {
    margin-left: -10px;
    margin-bottom: -119px;
    margin-top: -274px;
    width: 65%;
}

.hommegothique {
    margin-right: -194px;
    margin-bottom: -55px;
    margin-top: -274px;
    width: 65%;
}
    
.hommeclassique{
    
    filter: grayscale(1);
    
}

.hommestreetwear{
    
     filter: grayscale(1);
        
}

.hommegothique{
    
    filter: grayscale(1);
    
}

.hommeclassique:hover{
    filter: grayscale(0);
    cursor: pointer;

}


.hommegothique:hover{
    filter: grayscale(0);
    cursor: pointer;

}

.hommestreetwear:hover{
    filter: grayscale(0);
    cursor: pointer;
  
}

.hommeclassique:active {
    filter: grayscale(0)
    ;}

.hommestreetwear:active {
        filter: grayscale(0)
        ;}

.hommegothique:active {
            filter: grayscale(0)
            ;}

/* .checkbox-wrapper {
    position: absolute;
   

}

.checkmark {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #ddd;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.4s;
    margin-top: 28px;
    margin-left: 14px;
;
}


#check:checked ~ .checkmark {
    background-color: #08bb68;
}

.checkmark::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(10);
    opacity: 0;
    transition: all 0.4s;
}

#check:checked ~ .checkmark::after{
    opacity: 1;
    transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
} */

.palettegothique{
    margin-left: -340px;
    
}

.canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


