html,body{
    width: 100%;
    height: 100%;
}

*{
  margin: 0;
  padding: 0;
}

/* Général*/

.Bloc3{
    display:flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    padding-top: 3%;
  }

  .text {
    width: 25%;
    height: 25%;
    margin-left: 40px;
    padding: 40px;
    transform: translate(124px, 224px);
  }

  .text h3 {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 60px;
    margin-top: 10px;
  }

.text p {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 60px;
}
  .text a {
    text-underline-offset: 8px;
    padding-bottom: 50px;   
  }

  
  .photo {
    margin-left: 40px;
    margin-right: 40px;
  }

  .photo img { 
    height: 800px;
  }

  .reduction {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 100%;
    height: 137px;
    width: 137px;
    transform: translate(476px, -197px);
    font-size: 60px;
    font-weight: 400;
  }

  /*Universelle*/

  .font.Universelle{
    font-family: Montserrat, Arial, Helvetica, sans-serif;

  }

  .Bloc3.Universelle{
    background-color: white;
  }

  .text.Universelle {
    background-color:#D9D9D9 ;
    color: #000000;
  }

  .text.Universelle a {
    color: #000000;
  }

  .text.Universelle a:hover {
    color: black;
  }

  .photo.Universelle {
    color: black;
  }

  .reduction.Universelle  {
    background-color: #D9D9D9;
  }

  /*Gothique*/

  .font.Gothique{
    font-family: 'Newsreader','Times New Roman', Times, serif;
  }

  .Bloc3.Gothique{
    background-color: black;
  }

  .text.Gothique {
    background-color:#BB0000;
    color: white;
  }

  .text.Gothique a {
    color: white;
  }

  .text.Gothique a:hover {
    color: black;
  }

  .photo.Gothique {
    color:white;
  }

  .reduction.Gothique  {
    background-color: #BB0000;
  }


    /*Street*/

  .font.Street{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .Bloc3.Street{
    background-color: white;
  }

  .text.Street {
    background-color:#193D4B ;
    color: white;
  }

  .text.Street a {
    color: white;
  }

  .text.Street a:hover {
    color: black;
  }

  .photo.Street {
    color:white;
  }

  .reduction.Street  {
    background-color: #193D4B;
  }

  /*Classique*/

   .font.Classique{
    font-family: Playfair Display, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .Bloc3.Classique{
    background-color: white;
  }

  .text.Classique {
    background-color:#F5E9DD ;
    color: black;
  }

  .text.Classique a {
    color: black;
  }

  .text.Classique a:hover {
    color: #7B4747;
  }

  .photo.Classique {
    color:black;
  }

  .reduction.Classique  {
    background-color: #F5E9DD ;
  }



  /*Vert*/

  .font.Vert{
    font-family: 'Newsreader','Times New Roman', Times, serif;
  }

  .Bloc3.Vert{
    background-color: black;
  }

  .text.Vert {
    background-color:#1B4B41;
    color: white;
  }

  .text.Vert a {
    color: white;
  }

  .text.Vert a:hover {
    color: black;
  }

  .photo.Vert {
    color:white;
  }

  .reduction.Vert  {
    background-color: #1B4B41;
  }


    /*Rose*/

    .font.Rose{
      font-family: 'Newsreader','Times New Roman', Times, serif;
    }
  
    .Bloc3.Rose{
      background-color: black;
    }
  
    .text.Rose {
      background-color:#DCC9DF;
      color: black;
    }
  
    .text.Rose a {
      color: black;
    }
  
    .text.Rose a:hover {
      color: black;
    }
  
    .photo.Rose {
      color:black;
    }
  
    .reduction.Rose  {
      background-color: #DCC9DF;
    }


/*Ciel*/

  .font.Ciel{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .Bloc3.Ciel{
    background-color: white;
  }

  .text.Ciel {
    background-color:#93B7C2 ;
    color: white;
  }

  .text.Ciel a {
    color: white;
  }

  .text.Ciel a:hover {
    color: black;
  }

  .photo.Ciel {
    color:white;
  }

  .reduction.Ciel  {
    background-color: #93B7C2;
  }