html,body{
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* Général*/

.fond{

    padding-top: 2%;
    padding-bottom: 2%;
}

.Bloc1{
    display:flex;
    justify-content: center;
}

.titre {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin-left: 3%;
}


/* -----------------------------Universelle--------------------------------------- */

.fond.Universelle {
    background-color: white;
}

.police.Universelle {
    font-family: 'arial';
}

.titre.Universelle {
    color: black;
}

.paramètres {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 5px black;
    height: 40px;
    width: 40px;
    font-size: 20px;
    margin-top: 15px;
}

.paramètres:hover.Universelle {
    color: #d9d9d9;
}


.petitesimg {
    margin: -10px 1.36% 0 1.36%;
}

.like {
    display: flex;
    transform: translate(1400%, 150%);
    color: white;
    background: none;
    border: none;
    font-size: 20px;
}

.like:hover.Universelle {
    color: #d9d9d9;
}

.nom.Universelle {
    width: 313px;
    height: 70px;
    margin-bottom: 20px;
    transform: translate(0, -6%);
    background-color:#d9d9d9 ;
    color: black;
}

.nom h5 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 0 0 10px;
}

.nom p {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    padding-left: 10px;
}

.texte {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

/* -----------------------------Typo--------------------------------------- */

.police.Gothique {
    font-family: 'Newsreader';
}

.police.Classique {
    font-family: 'Raleway';
}

.police.Street {
    font-family: 'Franklin Gothic Heavy';
}

/* -----------------------------Couleur--------------------------------------- */

/* ----------------Rouge------------------- */

.fond.Gothique {
    background-color: black;
}

.titre.Gothique {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 3.3% 0 3.5%;
    color: white;
}

.paramètres:hover.Gothique {
    color: #BB0000;
}

.like:hover.Gothique {
    color: #BB0000;
}

.nom.Gothique {
    width: 313px;
    height: 70px;
    margin-bottom: 20px;
    transform: translate(0, -6%);
    background-color: #BB0000 ;
    color: white;
}

/* ----------------Beige------------------- */

.fond.Classique {
    background-color: white;
}

.titre.Classique {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 3.3% 0 3.5%;
    color: black;
}

.paramètres:hover.Classique {
    color: #F5E9DD;
}

.like:hover.Classique {
    color: #F5E9DD;
}

.nom.Classique {
    width: 313px;
    height: 70px;
    margin-bottom: 20px;
    transform: translate(0, -6%);
    background-color: #F5E9DD ;
    color: black;
}

/* ----------------Bleu------------------- */

.fond.Street {
    background-color: white;
}

.titre.Street {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 3.3% 0 3.5%;
    color: black;
}

.paramètres:hover.Street {
    color: #193D4B;
}

.like:hover.Street {
    color: #193D4B;
}

.nom.Street {
    width: 313px;
    height: 70px;
    margin-bottom: 20px;
    transform: translate(0, -6%);
    background-color: #193D4B ;
    color: white;
}

/* ----------------Vert------------------- */

.fond.Vert {
    background-color: black;
}

.titre.Vert {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 3.3% 0 3.5%;
    color: white;
}

.paramètres:hover.Vert {
    color: #1B4B41;
}

.like:hover.Vert {
    color: #1B4B41;
}

.nom.Vert {
    width: 313px;
    height: 70px;
    margin-bottom: 20px;
    transform: translate(0, -6%);
    background-color: #1B4B41 ;
    color: white;
}

/* ----------------Ciel------------------- */

.fond.Ciel {
    background-color: white;
}

.titre.Ciel {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 3.3% 0 3.5%;
    color: black;
}

.paramètres:hover.Ciel {
    color: #93B7C2;
}

.like:hover.Ciel {
    color: #93B7C2;
}

.nom.Ciel {
    width: 313px;
    height: 70px;
    margin-bottom: 20px;
    transform: translate(0, -6%);
    background-color: #93B7C2 ;
    color: white;
}

/* ----------------Rose------------------- */

.fond.Rose {
    background-color: black;
}

.titre.Rose {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 3.3% 0 3.5%;
    color: white;
}

.paramètres:hover.Rose {
    color: #DCC9DF;
}

.like:hover.Rose {
    color: #DCC9DF;
}

.nom.Rose {
    width: 313px;
    height: 70px;
    margin-bottom: 20px;
    transform: translate(0, -6%);
    background-color: #DCC9DF ;
    color: black;
}