html,body{
    width: 100%;
    height: 100%;
}

.titre {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    margin: 10px 3.3% 0 3.5%;
    color: white;
}

.paramètres {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 25px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    margin-top: 15px;
}

.paramètres:hover {
    color: #BB0000;
}

.Bloc1{
    display:flex;
    justify-content: center;
}
  
.petitesimg {
    margin: -10px 1.36% 0 1.36%;
    color: white;
}

.like {
    display: flex;
    transform: translate(850%, 150%);
    color: black;
    background: none;
    border: none;
    font-size: 20px;
}

.like:hover {
    color: #BB0000;
}

.nom {
    width: 313px;
    height: 70px;
    margin-bottom: 20px;
    transform: translate(0, -6%);
    background-color:white ;
    color: black;
    font-family:'Newsreader';
}

.nom h5 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 10px 0 0 10px;
}

.nom p {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    padding-left: 10px;
}

.texte {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}